<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% for(let idx=0; idx < books.length; idx++) { %>
        <p><%= books[idx].title %> -
            <% for(let authIdx=0; authIdx < books[idx].authors.length; authIdx++) { %>
                <%= books[idx].authors[authIdx].fullname %>,
            <% } %>
        </p>
    <% } %>
  </body>
</html>
